AddressFamily inet
Port 2222
HostKey /etc/inkyos-test-enrollment/ssh_host_ed25519_key
PidFile /run/sshd/inkyos-test.pid
AuthorizedKeysFile /etc/inkyos-test-ssh/authorized_keys
AllowUsers inky-test
PermitRootLogin no
UsePAM yes
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
HostbasedAuthentication no
GSSAPIAuthentication no
StrictModes yes
ForceCommand /usr/local/lib/inkyos-test-ssh/dispatch.py
DisableForwarding yes
AllowTcpForwarding no
AllowStreamLocalForwarding no
AllowAgentForwarding no
X11Forwarding no
PermitTunnel no
PermitTTY no
PermitUserRC no
PermitUserEnvironment no
GatewayPorts no
PermitOpen none
PermitListen none
MaxAuthTries 2
MaxSessions 1
MaxStartups 2
LoginGraceTime 10
UseDNS no
PrintMotd no
PrintLastLog no
LogLevel ERROR
